.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.item-count button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: darkgreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.item-count button:hover {
  background-color: rgb(0, 69, 0);
}

.item-count button:active {
  background-color: #003f7f;
  transform: scale(0.95);
}

.item-count p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px 0;
}