.item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  /* border: 0.5px solid #02070c; */
}
.item-count h3 {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
}
.item-count button {
  margin: 1rem 0;
  width: 1rem;
  padding: 3px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.item-count button:hover {
  background-color: #333;
}
.addToCart {
  padding: 2px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  :hover {
    background-color: #333;
  }
}